# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# SQLite
*.db
*.sqlite3

# OS
Thumbs.db
.DS_Store

# Build
build/
dist/

# Coverage
.coverage
htmlcov/